<!DOCTYPE html>
<html>
<head>
  <title>TripTrack</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bigfishtv-turret/4.0.0/turret.min.css" crossorigin="anonymous"> -->
  <link href="https://fonts.googleapis.com/css?family=Rubik:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

    <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>
  <body>

      <%= yield %>

      <%= javascript_include_tag 'application' %>

      <%- if Rails.env.development? || Rails.env.test? -%>
        <%= javascript_tag do %>
          window.railsEnv = '<%= Rails.env %>'
        <%- end -%>
      <%- end -%>
      <%= javascript_tag do %>
        window.MBTAkey = "<%== ENV["MBTA_KEY"] %>"
      <% end %>
      <%= javascript_pack_tag 'application' %>

      <%= yield :extra_footer %>

  </body>
</html>
